.header {
  padding: 19px 0px 0px 0px;
  &__body {
    padding: 0px 27px;
    @include max-width($main-media) {
      padding: 0 20px;
      padding-bottom: 10px;
    }
    box-shadow: var(--header-shadow);
    @include dfcs;
    border-radius: var(--border-radius-20);
    padding-bottom: 10px;
  }
  &__logo {
    img {
      height: 100%;
    }
  }
}

@include max-width(43.75em) {
  .nav {
    display: none;
  }
  .header {
    &__logo {
      max-width: 70px;
    }
  }
}
