.header {
  padding: 19px 0px 0px 0px;
  &__body {
    padding: 0px 27px;
    @include max-width($main-media) {
      padding: 0 20px;
      padding-bottom: 10px;
    }
    box-shadow: var(--header-shadow);
    @include dfcs;
    border-radius: var(--border-radius-20);
    padding-bottom: 10px;
  }
  &__logo {
    img {
      height: 100%;
    }
  }
}

@include max-width(43.75em) {
  .nav {
    display: none;
  }
  .header {
    &__nav {
      position: fixed;
      top: 0;
      left: 0;
      background-color: var(--clr-body);
      width: 100%;
      height: 100%;
      min-height: 100vh;
      z-index: 200;
      opacity: 0;
      transform: translateX(-65rem);
      visibility: hidden;
      user-select: none;
      transition: all .6s linear .3s;
    }
    .nav {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      &__list {
        flex-direction: column;
        text-align: center;
        padding: 0 .9rem;
      }
      &__link {
        font-weight: 400;
        font-size: 2rem;
        &::before {
          content: none;
        }
      }
    }
  }
  .header {
    &__logo {
      max-width: 70px;
    }
  }
}


.burger {
  position: relative;
  width: 1.7rem;
  height: 1.7rem;
  z-index: 300;
  @include min-width(43.75em) {
    display: none;
  }
  span {
    display: block;
    position: absolute;
    width: 1.7rem;
    height: 3px;
    margin-top: 7px;
    border-radius: 10px;
    background-color: var(--clr-primary);
    transition: top 0.2s ease-in-out, transform 0.3s ease-in-out 0.2s, opacity 0.1s ease-in-out 0.2s, left 0.3s ease-in-out;
    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: 10px;
    }
    &:nth-child(3) {
      top: 20px;
    }
    &:nth-child(4) {
      top: 10px;
    }
  }
}


.--active-burger {
span {
  &:nth-child(1) {
    transform-origin: center;
    transform: rotateY(90deg);
  }
  &:nth-child(2) {
    transform: rotate(45deg);
  }
  &:nth-child(3) {
    transform-origin: center;
    transform: rotateY(90deg);
  }
  &:nth-child(4) {
    transform: rotate(-45deg);
  }
}
}

.--active-menu {
  visibility: visible;
    opacity: 1;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
